.App {
  text-align: center;
  background-color: #EEEEEE;
}
header {
  background-color: #89A9B3;
  height: 10vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: row;
}
.logo {
  width: 10vh;
  height: 10vh;
  position: absolute;
  left: 1vh;
}
.title {
  font-size: 6vh;
  margin-top: .5vh;
  text-align: left;
  margin-left: 12vh;
}
.buttonRow {
  flex-direction: row;
  margin-top: 10vh;
  justify-content: space-between;
}
.buttonMain {
  background-color: grey;
  width: 50vh;
  height: 12vh;
  margin: 5vh 20vh 5vh 20vh;
  border-style: none;
  border-radius: 2vh;
  font-size: 4vh;
}
.aboutUs {
  height: 30vh;
  width: 100%;
  background-color: grey;
}
.abtustxt {
  font-size: 2vh;
  color: white;
}
.bigNum {
  font-size: 7vh;
  font-weight: 700;
  margin-bottom: 0;
}
stat {
  font-size: 4vh;
  width: 45vh;
}
row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.needwantto {
  margin-right: 2vh;
  font-size: 4vh;
}
.subbuttons {
  border-width: 0;
  border-radius: 3vh;
  width: 20vh;
  height: 6vh;
  align-self: center;
  background-color: #ebd879;
  font-size: 2.5vh;
}
.rowname {
  font-size: 5vh;
  text-align: start;
  margin-left: 2vh;
  margin-bottom: 1vh;
}
.devices {
  margin-left: 2vh;
  height: 30vh;
  width: 30vh;
  background-color: white;
  border-radius: 2vh;
  filter: drop-shadow(0 2px 2px #00000046);
}
.devicePic {
  height: 20vh;
  margin-top: 2vh;
}
.deviceIcon {
  height: 4vh;
  margin: 0 0 0 1vh;
}
.deviceName {
  margin: 0 2vh 0 0;
  font-size: 2.5vh;
}
.requests {
  margin-left: 2vh;
  height: 15vh;
  width: 30vh;
  background-color: white;
  border-radius: 2vh;
  filter: drop-shadow(0 2px 2px #00000046);
}
.mainPic {
  width: 100vh;
}
/*forms*/
.form {
  width: 50vw;
  height: 95vh;
  background-color: #89A9B3;
  top: 200vh;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 2vh;
  filter: drop-shadow(2px 2px 5px rgb(50, 50, 50));
}
.emailtxt {
  background-color: white;
  color: #4d4d4d;
  font-size: 3vh;
  margin: 5vh 15% 0 15%;
  width: 70%;
  height: 7vh;
  border-radius: 10px;
  border-style: none;
}
.needDevices {
  background-color: white;
  color: rgb(62, 62, 62);
  font-size: 4vh;
  width: 15vw;
  height: 7vh;
  border-radius: 10px;
  margin: 3vh 3% 0 3%;
  border-style: none;
}
.dropdown {
  background-color: white;
  color: #5e5e5e;
  font-size: 3vh;
  text-align: center;
  margin: 2vh 15% 0 15%;
  width: 70%;
  height: 7vh;
  border-radius: 10px; 
  border-width: 0;
}
.situcond {
  background-color: white;
  color: #4d4d4d;
  font-size: 2vh;
  margin: 0 15% 0 15%;
  width: 70%;
  height: 12vh;
  border-radius: 10px;
  border-style: none;
  text-align: center;
}
.back {
  width: 10vw;
  height: 5.5vh;
  background-color: rgba(0, 0, 0, .5);
  border-style: none;
  border-radius: 5px;
  margin: 2% 3vw 0 3vw;
  font-size: 3vh;
  color: white;
}
.submit {
  width: 13vw;
  height: 5.5vh;
  border-style: none;
  border-radius: 5px;
  margin: 2% 3vw 0 3vw;
  font-size: 3vh;
  background-color: #ebd879;
}
